.page {
  padding: 16px;
}

.link {
  color: blue;
  font-size: 18px;
  font-weight: 400;
}

.table {
  border: 1px solid #999;
  text-align: left;
}

.table td, .table th{
  padding: 8px;
  color: #000;
  font-weight: 300;
}

.table th, .table .highlight{
  font-weight: 500;
}

.tableHead {
  text-transform: uppercase;
}